en/build
en/build-in-progress
en/source/Software/Bricks
en/source/Software/Bricklets
en/source/Images/Screenshots/LabVIEW/*.vi.png
!en/source/Images/Screenshots/LabVIEW/Example.vi.png
de/build
de/build-in-progress
de/source/Software/Bricks
de/source/Software/Bricklets
*.table
*.toctree
*.substitutions
*.pyc
