{% raw %}
{% from "macros.html" import tfheader %}
{% from "macros.html" import tffooter %}
{% endraw %}

{% extends '!layout.html' %}

{% block doctype %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% endblock %}

{% block htmltitle %}
<title>{{ title|striptags|e }} – Tinkerforge</title>
{% raw %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='base_tf.css', _external=True) }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='jquery.lightbox-0.5.css', _external=True) }}" />
<meta name="keywords" content="Tinkerforge, Open Source Hardware, Bricks, Bricklets, USB Controllable, USB Sensing, USB Controlling" />
<meta name="description" content="Easy-to-use open source hardware. Control motors and sense the environment over USB with C, C++, C#, java, python and more." />
<meta name="copyright" content="Tinkerforge GmbH" />




<!--<script type="text/javascript">
	document.write('<style>.noscript { display: none; }</style>');
</script>-->
{% endraw %}
{% endblock %}


{% block extrahead %}
{% raw %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery.lightbox-0.5.js', _external=True) }}"></script>

    <script type="text/javascript">
	    $(function() {
				        $('#gallery a').lightBox();
						    });
    </script>


{% endraw %}
{% endblock %}



{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

{% block relbar1 %}<div id="tfcontent">{% if meta %}<div class="breadcrumbs-container"><div class="breadcrumbs">{{ meta['breadcrumbs'] }}</div></div>{% endif %}<div class="boxContent3">{% endblock %}
{% block relbar2 %}    
	<div id="tf_license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en">
		    <img alt="Creative Commons Licence" width="88" height="31" style="border-width:0" src="/static/images/cc_license_logo.png" />
		</a>
		{% raw %}
		{% if g.current_lang == "de" %}
			Der Inhalt dieser Seite ist lizensiert unter der
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.de">Creative Commons Attribution 3.0 Unported Lizenz</a>.
		{% else %}
			The content of this page is licensed under
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
		{% endif %}
		{% endraw %}
	</div>

	</div></div>
{% endblock %}

{% block sidebarsourcelink %}{% endblock %}
{% block sidebarsearch %}{% endblock %}

{% block header %}
{% raw %}
{{ tfheader(g.stagingprefix, g.langs, g.username, g.current_lang, request.url, 'doc') }}
{% endraw %}
{% endblock %}

{% block footer %}
{% raw %}
{{ tffooter(g.stagingprefix, g.langs, g.current_lang) }}
{% endraw %}
{% endblock %}
